$color-welcome-red : #e22f26; 
$color-ci-red : #ea002c; 
$color-ci-orange : #ff7a00; 

.color-welcomered{ color:$color-welcome-red;}
.color-ci-red{ color:$color-ci-red}
.color-ci-orange{ color:$color-ci-orange}


