.contents-top {
    background: #eee;
    color: #fff;
    position: fixed;
    width: 100%; 
    // height: 384px;
    // padding-top: 160px;
    // padding-left: 2rem;
    // padding-right: 2rem;
    padding: 1.5rem 2rem;
    z-index: 55;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.bg-red {
        background: #333;
    }

    >h2 {
        font-weight: 500;
        font-size:1.4rem;
        padding: 0;
        letter-spacing: 1px;
    }

    .top-links{
        a{
            color:#fff;display: inline-block;
            font-size: 12px;
            padding: 4px 10px; border: 1px solid $color-primary;
            border-radius: 2px;
            background: $color-primary;;
        }
    }
}

.contents-wrapper {
    display: flex;
    //padding: 9.6rem 2rem 0 2rem;
    padding-left: 270px;

    width: 100%;

    .contents {
        width: 100%;
        padding-right: 25px;
        //padding-left: 25px;
        background:#fff;    padding-bottom: 100px;
    }
}

.contents-list{
    width: 100%;
    //padding: 5rem 2rem;

    .figure{ max-width: initial;}

    a:hover{
        color:$color-primary;
        font-weight: bold;
    }

    .tb-UI-guide {
        tr{
            transition: 0.5s;

            &:nth-child(even) {
                background:#f9f9f9
            }

            &.disabled {
                opacity: 0.4;
            }
            &:hover{
                background: rgba($color: #000000, $alpha: 0.1)
            }
        }

        .detail { padding-left: 5px; font-size: 0.95em; color:$color-primary; display: inline-block; vertical-align: middle;}
    }
}
