@import 'fonts';
@import 'mixins';
@import 'reset';
@import 'vars';
@import 'sub';



$color-txt : #111;
$color-primary: #e22f26;
$color-secondary: #ff7a00;
$background-tab: #f8f8f8;
$background-tab-selected: #ccc;
$color-background:#fff;



[role="tablist"] {
    display: flex;
    align-items: center;
    justify-content: start;

    li {
        width: 13%;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }

    a {
        padding: 10px 20px;
        display: block;
        background: $background-tab;
        color: #222;
        font-size: 1.3rem;
        text-align: center;

        &[aria-selected="true"] {
            background: #333;
            color: #fff;
            width: 100%;
            border-radius: 2px;
        }
    }
}


[role="tabpanel"] {
    display: none;

    &[aria-selected="true"] {
        display: block;
        padding: 2rem 0
    }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background: $color-background;
    padding: 0 2rem;
    background: #fff;
    z-index: 1;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.1);

    .container {
        max-width: 1080px;
        @include push--auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq('container') {
            padding: 0 2rem;
        }
    }

    .logo {
        font-size: 2rem;
        letter-spacing: -1px;
    }

    .nav-container {
        display: flex;
        align-items: center;
    }

    nav {
        height: 100%;

        ul {
            display: flex;
            align-items: center;
            height: 100%;

            li {
                margin-right: 1.5rem;
            }
        }

        a {
            font-size: 1.3rem;
            color: #000;
            text-transform: uppercase;
        }
    }

    .btn-change-theme {
        width: 24px;
        height: 24px;
        background: url('../images/ic_mode_dark.svg') no-repeat center / contain
    }
}




.main-top {
    padding: 18rem 0 8rem 0;
    max-width: 1080px;
    @include push--auto;

    .myname {
        font-size: 7rem;
        font-weight: bold;
        background: -webkit-linear-gradient(#eee, #333);
        background: linear-gradient(50.88deg, #9845E8 -2.73%, #33D2FF 54.07%, #DD5789 70.63%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    .txt {
        margin-top: 3rem;
        font-size: 0.9em;
        padding-right: 30%;
        word-break: keep-all;
        line-height: 1.6;
    }

    .say {
        margin-top: 2rem;
        font-size: 0.85em;
        opacity: 0.8;

        a {
            display: inline-block;
            color: #666;
            font-style: italic;

            // &::after {
            //     content: '';
            //     width: 33px;
            //     height: 5px;
            //     background: url('../images/ic_more_arrow__long.svg') no-repeat center;
            //     display: inline-block;
            //     vertical-align: middle;
            //     margin-left: 1rem;
            // }
        }
    }

    small {
        font-size: 1.7rem;
    }
}

.section-content {
    max-width: 1080px;
    @include push--auto;
    padding-top: 6rem;
}

.section-title {
    font-size: 2rem;
    padding-bottom: 2rem;

    small {
         font-size: 0.7em;
         padding-left: 5px;
         opacity: 0.5;
    }
}

.tablist {
    display: flex;
    justify-content: start;
    align-items: center;

    li {
        width: 23%;
    }

    a {
        display: block;
        background: transparent;
    }
}

.experience-list {
    border-top: 1px solid #222;
    font-size: 1.4rem;

    .career-item {
        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }

    .tab-expanded {
        padding: 2rem 0;
        //margin-top: 4rem;
    }

    .ex-period {
        text-align: left;
        letter-spacing: 0;
        opacity: 0.5;
        
    }

    .position {
        margin-top: 4px;
        color: #ba62e7;
        letter-spacing: 0;
        font-weight: 700;
    }

    .company-name {
        color: #0f7bda;
        margin-top: 10px;
        font-weight: 700;
        font-size: 1.5rem;

        small {
            font-size: 0.8em;
            opacity: 0.7;
        }
    }

    .ex-detail {
        margin-top: 2rem;

        li {
            padding-left: 8px;
            position: relative;
            font-size: 1.3rem;
            line-height: 1.4;
            margin-top: 5px;
            color: #888;

            &::before {
                content: '';
                width: 4px;
                height: 1px;
                background: #888;
                position: absolute;
                left: 0;
                top: 8px;
            }
        }
    }
}



.featured-project-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10rem;

    .pjt-item {
        width: 31%;
        overflow: hidden;
        margin-top: 2rem;
        color: #111;
    }

    .pjt-item_thumb {
        width: 100%;
        padding-bottom: 80%;
        position: relative;
        overflow: hidden;

        img {
            @include push--center;
        }
    }

    .pjt-item_description {
        margin-top: 2rem;
        position: relative;

        dt {
            font-weight: 600;
            color: #333;
            font-size: 1.6rem;
        }

        dd {
            font-size: 1.3rem;
            margin-top: 5px;
        }

        .pjt-contribute {
            padding: 3px 0;
            font-size: 1.2rem;
            color: #999;
        }

        .skills {
            margin-top: 1.5rem;
            font-size: 1.1rem;
            letter-spacing: 0.01em;
            color: #004E93;
            text-transform: uppercase;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            span {
                font-weight: 700;
                margin-right: 4px;

                &::before {
                    content: '#';
                    font-weight: 600;
                    font-size: 1.1rem
                }

                &.rwd {
                    color: crimson
                }

                &.pc {
                    color: #DD5789
                }

                &.app {
                    color: #ff7301;
                }

                &.design {
                    color: #00a7d7
                }

            }
        }

        .pjt-detail {
            @include ellipsis-multi(34px, 2);
            margin-top: 10px;
            color: #111;
            word-break: break-all;
        }

        .link {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            margin: 0;

            >a {
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: center;
                margin-left: 10px;
                background-size: 16px;

                &.link-git {
                    background-image: url('../images/ic_github.svg');
                }

                &.link-go {
                    background-image: url('../images/ic_link.svg');
                }
            }
        }
    }
}



.other-product-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10rem;

    .pjt-item {
        width: 23%;
        overflow: hidden;
        margin-top: 2rem;
        color: #111;
    }

    .pjt-item_thumb {
        width: 100%;
        padding-bottom: 40%;
        position: relative;
        overflow: hidden;

        img {
            @include push--center;
        }
    }

    .pjt-item_description {
        margin-top: 1.5rem;
        position: relative;

        dt {
            font-weight: 600;
            color: #333;
            font-size: 1.4rem;
        }

        dd {
            font-size: 1.2rem;
            margin-top: 3px;
        }

        .pjt-contribute {
            font-size: 1.2rem;
            color: #999;
        }

        .skills {
            margin-top: 7px;
            font-size: 1.1rem;
            letter-spacing: 0.01em;
            color: #004E93;
            text-transform: uppercase;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            span {
                font-weight: 700;
                margin-right: 4px;

                &::before {
                    content: '#';
                    font-weight: 600;
                    font-size: 1.1rem
                }

                &.rwd {
                    color: crimson
                }

                &.pc {
                    color: #DD5789
                }

                &.app {
                    color: #ff7301;
                }

                &.design {
                    color: #00a7d7
                }

            }
        }

        .pjt-detail {
            @include ellipsis(100%);
            margin-top: 10px;
            color: #111;
            word-break: break-all;
        }

        .link {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            margin: 0;

            >a {
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: center;
                margin-left: 10px;
                background-size: 16px;

                &.link-git {
                    background-image: url('../images/ic_github.svg');
                }

                &.link-go {
                    background-image: url('../images/ic_link.svg');
                }
            }
        }
    }
}

.featured-before{
    width: 1080px; 
    height: 300px; 
    @include push--auto; 
    background: url('../images/ui_image_01.png') no-repeat center / cover; 
    background-attachment: fixed;
    transition: 0.8s 0.3s;
    margin-top: 4rem;
}