/*
    @ Filename       : _font.scss
    @ Author         
    @ Dependency     : 
    @ Description    : setting font style
    @ Date           : 2021.12.09
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@300;400;700&display=swap");
/*
    @ Filename       : reset.css
    @ Author         
    @ Dependency     : 
    @ Description    : CSS RESET
    @ Date           : 2021.12.09
*/
html {
  line-height: 1.3;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: antialiased;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  font-size: 62.5%;
  color: #333;
}

@media (max-width: 1024px) {
  html {
    font-size: 9.5px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 641px) {
  html {
    font-size: 8.5px;
  }
}

@media (max-width: 481px) {
  html {
    font-size: 8px;
  }
}

body {
  overflow-x: hidden;
  background-color: transparent;
  min-width: 320px;
  font-family: 'Roboto', 'Noto Sans KR',  arial, 'Malgun Gothic', sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, time, figure, section, article, nav, header, footer, hgroup, video, audio, aside, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

figure, article, header, footer, nav, hgroup, video, audio, aside, main {
  display: block;
}

a {
  text-decoration: none;
}

body, textarea:focus, input:focus, a:focus {
  -webkit-tap-highlight-color: rgba(135, 135, 135, 0.08);
}

body {
  -webkit-touch-callout: none;
}

::-moz-selection {
  background: #d10000;
  background: rgba(209, 0, 0, 0.5);
  color: #fff;
}

::selection {
  background: #d10000;
  background: rgba(209, 0, 0, 0.5);
  color: #fff;
}

::-moz-selection {
  background: #d10000;
  background: rgba(209, 0, 0, 0.5);
  color: #fff;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=url],
input[type=number],
input[type=search],
textarea {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
}

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  font-family: inherit;
  border-radius: 0rem;
}

input[type=radio] {
  border-radius: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  color: #222;
}

input[type=number] {
  -moz-appearance: textfield;
  color: #222;
}

button {
  outline: none;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: none;
}

input, select, button, textarea {
  background-color: #fff;
  border: none;
  padding: 0;
  outline: none;
}

input:focus, select:focus, button:focus, textarea:focus {
  outline: none;
}

input:focus-visible, select:focus-visible, button:focus-visible, textarea:focus-visible {
  outline: none;
}

select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: visible;
}

[hidden] {
  display: none;
}

::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
}

::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
}

:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

img {
  border-style: none;
  max-width: 100%;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.pc-only {
  display: block;
}

.m-only {
  display: none;
}

.ratio-w-30 {
  width: 30%;
}

.ratio-w-31 {
  width: 31%;
}

.ratio-w-32 {
  width: 32%;
}

.ratio-w-33 {
  width: 33%;
}

.ratio-w-34 {
  width: 34%;
}

.ratio-w-35 {
  width: 35%;
}

.ratio-w-36 {
  width: 36%;
}

.ratio-w-37 {
  width: 37%;
}

.ratio-w-38 {
  width: 38%;
}

.ratio-w-39 {
  width: 39%;
}

.ratio-w-40 {
  width: 40%;
}

.ratio-w-41 {
  width: 41%;
}

.ratio-w-42 {
  width: 42%;
}

.ratio-w-43 {
  width: 43%;
}

.ratio-w-44 {
  width: 44%;
}

.ratio-w-45 {
  width: 45%;
}

.ratio-w-46 {
  width: 46%;
}

.ratio-w-47 {
  width: 47%;
}

.ratio-w-48 {
  width: 48%;
}

.ratio-w-49 {
  width: 49%;
}

.ratio-w-50 {
  width: 50%;
}

.ratio-w-51 {
  width: 51%;
}

.ratio-w-52 {
  width: 52%;
}

.ratio-w-53 {
  width: 53%;
}

.ratio-w-54 {
  width: 54%;
}

.ratio-w-55 {
  width: 55%;
}

.ratio-w-56 {
  width: 56%;
}

.ratio-w-57 {
  width: 57%;
}

.ratio-w-58 {
  width: 58%;
}

.ratio-w-59 {
  width: 59%;
}

.ratio-w-60 {
  width: 60%;
}

.ratio-w-61 {
  width: 61%;
}

.ratio-w-62 {
  width: 62%;
}

.ratio-w-63 {
  width: 63%;
}

.ratio-w-64 {
  width: 64%;
}

.ratio-w-65 {
  width: 65%;
}

.ratio-w-66 {
  width: 66%;
}

.ratio-w-67 {
  width: 67%;
}

.ratio-w-68 {
  width: 68%;
}

.ratio-w-69 {
  width: 69%;
}

.ratio-w-70 {
  width: 70%;
}

.ratio-w-71 {
  width: 71%;
}

.ratio-w-72 {
  width: 72%;
}

.ratio-w-73 {
  width: 73%;
}

.ratio-w-74 {
  width: 74%;
}

.ratio-w-75 {
  width: 75%;
}

.ratio-w-76 {
  width: 76%;
}

.ratio-w-77 {
  width: 77%;
}

.ratio-w-78 {
  width: 78%;
}

.ratio-w-79 {
  width: 79%;
}

.ratio-w-80 {
  width: 80%;
}

.ratio-w-81 {
  width: 81%;
}

.ratio-w-82 {
  width: 82%;
}

.ratio-w-83 {
  width: 83%;
}

.ratio-w-84 {
  width: 84%;
}

.ratio-w-85 {
  width: 85%;
}

.ratio-w-90 {
  width: 90%;
}

.ratio-w-95 {
  width: 95%;
}

.ratio-w-100 {
  width: 100%;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-25 {
  margin-top: 2.5rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mt-80 {
  margin-top: 8rem;
}

.mt-90 {
  margin-top: 9rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mt-120 {
  margin-top: 12rem;
}

.mt-150 {
  margin-top: 15rem;
}

.mt-180 {
  margin-top: 18rem;
}

.mt-200 {
  margin-top: 20rem;
}

.mt-250 {
  margin-top: 25rem;
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .m-only {
    display: block;
  }
  .m-mt-10 {
    margin-top: 1rem;
  }
  .m-mt-15 {
    margin-top: 1.5rem;
  }
  .m-mt-20 {
    margin-top: 2rem;
  }
  .m-mt-25 {
    margin-top: 2.5rem;
  }
  .m-mt-30 {
    margin-top: 3rem;
  }
  .m-mt-40 {
    margin-top: 4rem;
  }
  .m-mt-50 {
    margin-top: 5rem;
  }
  .m-mt-60 {
    margin-top: 6rem;
  }
  .m-mt-70 {
    margin-top: 7rem;
  }
  .m-mt-80 {
    margin-top: 8rem;
  }
  .m-mt-90 {
    margin-top: 9rem;
  }
  .m-mt-100 {
    margin-top: 10rem;
  }
  .ratio-mw-100 {
    width: 100%;
  }
}

[role="tablist"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

[role="tablist"] li {
  width: 13%;
}

[role="tablist"] li:not(:first-child) {
  margin-left: 5px;
}

[role="tablist"] a {
  padding: 10px 20px;
  display: block;
  background: #f8f8f8;
  color: #222;
  font-size: 1.3rem;
  text-align: center;
}

[role="tablist"] a[aria-selected="true"] {
  background: #333;
  color: #fff;
  width: 100%;
  border-radius: 2px;
}

[role="tabpanel"] {
  display: none;
}

[role="tabpanel"][aria-selected="true"] {
  display: block;
  padding: 2rem 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  background: #fff;
  padding: 0 2rem;
  background: #fff;
  z-index: 1;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1080px) {
  header .container {
    padding: 0 2rem;
  }
}

header .logo {
  font-size: 2rem;
  letter-spacing: -1px;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  height: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header nav ul li {
  margin-right: 1.5rem;
}

header nav a {
  font-size: 1.3rem;
  color: #000;
  text-transform: uppercase;
}

header .btn-change-theme {
  width: 24px;
  height: 24px;
  background: url("../images/ic_mode_dark.svg") no-repeat center/contain;
}

.main-top {
  padding: 18rem 0 8rem 0;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.main-top .myname {
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(89.88deg, #9845E8 -2.73%, #33D2FF 54.07%, #DD5789 70.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-top .txt {
  margin-top: 3rem;
  font-size: 0.9em;
  padding-right: 30%;
  word-break: keep-all;
}

.main-top .say {
  font-size: 1.1em;
  margin-top: 2rem;
}

.main-top .say a {
  display: inline-block;
  color: #666;
}

.main-top .say a::after {
  content: '';
  width: 33px;
  height: 5px;
  background: url("../images/ic_more_arrow__long.svg") no-repeat center;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.main-top small {
  font-size: 1.7rem;
}

.section-content {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.tablist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablist li {
  width: 23%;
}

.tablist a {
  display: block;
  background: transparent;
}

.experience-list {
  border-top: 1px solid #222;
  font-size: 1.4rem;
}

.experience-list .career-item:not(:first-of-type) {
  margin-top: 5rem;
}

.experience-list .tab-expanded {
  padding: 2rem 0;
  margin-top: 4rem;
}

.experience-list .ex-period {
  display: inline-block;
  opacity: 0.5;
}

.experience-list .position {
  margin-top: 4px;
  color: #8a29bb;
  font-weight: 700;
}

.experience-list .company-name {
  color: #0f7bda;
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.experience-list .company-name small {
  font-size: 0.8em;
  opacity: 0.7;
}

.experience-list .ex-detail {
  margin-top: 2rem;
}

.experience-list .ex-detail li {
  padding-left: 8px;
  position: relative;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 5px;
  color: #888;
}

.experience-list .ex-detail li::before {
  content: '';
  width: 4px;
  height: 1px;
  background: #888;
  position: absolute;
  left: 0;
  top: 8px;
}

.featured-project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10rem;
}

.featured-project-list .pjt-item {
  width: 31%;
  overflow: hidden;
  margin-top: 2rem;
  color: #111;
}

.featured-project-list .pjt-item_thumb {
  width: 100%;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
}

.featured-project-list .pjt-item_thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.featured-project-list .pjt-item_description {
  margin-top: 2rem;
  position: relative;
}

.featured-project-list .pjt-item_description dt {
  font-weight: 600;
  color: #333;
  font-size: 1.6rem;
}

.featured-project-list .pjt-item_description dd {
  font-size: 1.3rem;
  margin-top: 5px;
}

.featured-project-list .pjt-item_description .pjt-contribute {
  padding: 3px 0;
  font-size: 1.2rem;
  color: #999;
}

.featured-project-list .pjt-item_description .skills {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  color: #004E93;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-project-list .pjt-item_description .skills span {
  font-weight: 700;
  margin-right: 4px;
}

.featured-project-list .pjt-item_description .skills span::before {
  content: '#';
  font-weight: 600;
  font-size: 1.1rem;
}

.featured-project-list .pjt-item_description .skills span.rwd {
  color: crimson;
}

.featured-project-list .pjt-item_description .skills span.pc {
  color: #DD5789;
}

.featured-project-list .pjt-item_description .skills span.app {
  color: #ff7301;
}

.featured-project-list .pjt-item_description .skills span.design {
  color: #00a7d7;
}

.featured-project-list .pjt-item_description .pjt-detail {
  white-space: initial;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  max-height: 34px;
  height: 34px;
  margin-top: 10px;
  color: #111;
  word-break: break-all;
}

.featured-project-list .pjt-item_description .link {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.featured-project-list .pjt-item_description .link > a {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  background-size: 16px;
}

.featured-project-list .pjt-item_description .link > a.link-git {
  background-image: url("../images/ic_github.svg");
}

.featured-project-list .pjt-item_description .link > a.link-go {
  background-image: url("../images/ic_link.svg");
}

.other-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10rem;
}

.other-product-list .pjt-item {
  width: 23%;
  overflow: hidden;
  margin-top: 2rem;
  color: #111;
}

.other-product-list .pjt-item_thumb {
  width: 100%;
  padding-bottom: 40%;
  position: relative;
  overflow: hidden;
}

.other-product-list .pjt-item_thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.other-product-list .pjt-item_description {
  margin-top: 1.5rem;
  position: relative;
}

.other-product-list .pjt-item_description dt {
  font-weight: 600;
  color: #333;
  font-size: 1.4rem;
}

.other-product-list .pjt-item_description dd {
  font-size: 1.2rem;
  margin-top: 3px;
}

.other-product-list .pjt-item_description .pjt-contribute {
  font-size: 1.2rem;
  color: #999;
}

.other-product-list .pjt-item_description .skills {
  margin-top: 7px;
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  color: #004E93;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-product-list .pjt-item_description .skills span {
  font-weight: 700;
  margin-right: 4px;
}

.other-product-list .pjt-item_description .skills span::before {
  content: '#';
  font-weight: 600;
  font-size: 1.1rem;
}

.other-product-list .pjt-item_description .skills span.rwd {
  color: crimson;
}

.other-product-list .pjt-item_description .skills span.pc {
  color: #DD5789;
}

.other-product-list .pjt-item_description .skills span.app {
  color: #ff7301;
}

.other-product-list .pjt-item_description .skills span.design {
  color: #00a7d7;
}

.other-product-list .pjt-item_description .pjt-detail {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  color: #111;
  word-break: break-all;
}

.other-product-list .pjt-item_description .link {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.other-product-list .pjt-item_description .link > a {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  background-size: 16px;
}

.other-product-list .pjt-item_description .link > a.link-git {
  background-image: url("../images/ic_github.svg");
}

.other-product-list .pjt-item_description .link > a.link-go {
  background-image: url("../images/ic_link.svg");
}

.featured-before {
  width: 1080px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/ui_image_01.png") no-repeat center/cover;
  background-attachment: fixed;
  -webkit-transition: 0.8s 0.3s;
  transition: 0.8s 0.3s;
  margin-top: 4rem;
}
/*# sourceMappingURL=intro.css.map */