/* 
    style.css index

    1_ font
    2_ reset 
    3_ 
    
*/
/*
    @ Filename       : _font.scss
    @ Author         
    @ Dependency     : 
    @ Description    : setting font style
    @ Date           : 2021.12.09
*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot");
  src: url("../font/icomoon.eot?#iefix") format("embedded-opentype"), url("../font/icomoon.woff") format("woff"), url("../font/icomoon.ttf") format("truetype"), url("../font/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Light.woff2") format("woff2"), url("../font/NotoSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/notokr-regular.woff2") format("woff2"), url("../font/notokr-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/notokr-medium.woff2") format("woff2"), url("../font/notokr-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Bold.woff2") format("woff2"), url("../font/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-v27-latin-regular.woff2") format("woff2"), url("../font/roboto-v27-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-v27-latin-700.woff2") format("woff2"), url("../font/roboto-v27-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Welcome";
  src: url("../font/Welcome.woff2") format("woff2"), url("../font/Welcome.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WelcomeR";
  src: url("../font/WelcomeRegular.woff2") format("woff2"), url("../font/WelcomeRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.color-welcomered {
  color: #e22f26;
}

.color-ci-red {
  color: #ea002c;
}

.color-ci-orange {
  color: #ff7a00;
}

nav {
  width: 230px;
  -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: #f9f9f9;
}

nav .nav-list {
  position: absolute;
  top: 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 5rem 0 10rem 0;
}

nav .nav-list > li:first-child > strong {
  margin-top: 0;
}

nav .nav-list > li > strong {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000;
  display: block;
  margin-top: 3.2rem;
}

nav .nav-list > li.nav-current > strong,
nav .nav-list > li.nav-current a {
  color: #DF0D0D;
}

nav .nav-list .sub-nav-list {
  margin-top: 1rem;
}

nav .nav-list .sub-nav-list > ul > li.nav-current > strong,
nav .nav-list .sub-nav-list > ul > li.nav-current a {
  color: #DF0D0D;
}

nav .nav-list .sub-nav-list > ul > li a {
  color: #666;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2;
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
    display: none;
  }
  .contents-wrapper {
    padding: 0 2rem !important;
  }
}

.contents-top {
  background: #eee;
  color: #fff;
  position: fixed;
  width: 100%;
  padding: 1.5rem 2rem;
  z-index: 55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-top.bg-red {
  background: #333;
}

.contents-top > h2 {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0;
  letter-spacing: 1px;
}

.contents-top .top-links a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  border: 1px solid #e22f26;
  border-radius: 2px;
  background: #e22f26;
}

.contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 270px;
  width: 100%;
}

.contents-wrapper .contents {
  width: 100%;
  padding-right: 25px;
  background: #fff;
  padding-bottom: 100px;
}

.contents-list {
  width: 100%;
}

.contents-list .figure {
  max-width: initial;
}

.contents-list a:hover {
  color: #e22f26;
  font-weight: bold;
}

.contents-list .tb-UI-guide tr {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contents-list .tb-UI-guide tr:nth-child(even) {
  background: #f9f9f9;
}

.contents-list .tb-UI-guide tr.disabled {
  opacity: 0.4;
}

.contents-list .tb-UI-guide tr:hover {
  background: rgba(0, 0, 0, 0.1);
}

.contents-list .tb-UI-guide .detail {
  padding-left: 5px;
  font-size: 0.95em;
  color: #e22f26;
  display: inline-block;
  vertical-align: middle;
}

legend {
  font-size: 14px;
}

[role="radiogroup"] {
  padding: 0;
  margin: 0;
  list-style: none;
}

[role="radiogroup"]:focus {
  outline: none;
}

[role="radio"] {
  display: inline-block;
  position: relative;
  padding-left: 2.2rem;
  font-size: 1.4rem;
  cursor: default;
}

[role="radio"] + [role="radio"] {
  margin-left: 1rem;
}

[role="radio"]::before,
[role="radio"]::after {
  position: absolute;
  top: 50%;
  left: 7px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
}

[role="radio"]::before {
  width: 14px;
  height: 14px;
  border: 1px solid #a8a8a8;
  border-radius: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeedee), color-stop(60%, #fff));
  background-image: linear-gradient(to bottom, #eeedee, #fff 60%);
}

[role="radio"]:active::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcb8bc), to(#eeedee));
  background-image: linear-gradient(to bottom, #bcb8bc, #eeedee);
}

[role="radio"][aria-checked="true"]::before {
  border-color: #1a6be6;
  background: #609bfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#609bfb), to(#3a80e9));
  background-image: linear-gradient(to bottom, #609bfb, #3a80e9);
}

[role="radio"][aria-checked="true"]::after {
  display: block;
  border: 2px solid #fff;
  border-radius: 100%;
}

[role="radio"][aria-checked="mixed"]:active::before,
[role="radio"][aria-checked="true"]:active::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a80e9), color-stop(60%, #609bfb));
  background-image: linear-gradient(to bottom, #3a80e9, #609bfb 60%);
}

[role="radio"]:hover::before {
  border-color: #5295fa;
}

[role="radio"]:focus {
  outline: none;
}

[role="radio"].focus:before,
[role="radio"]:focus::before {
  width: 16px;
  height: 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-color: #79adfb;
  border-width: 3px;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 0 1px #1a6be6;
          box-shadow: inset 0 0 0 1px #1a6be6;
}

.title {
  font-size: 1.6rem;
  line-height: 1.33;
  font-weight: 900;
  color: #444;
  padding-bottom: 1.6rem;
  font-family: "poppins", "Noto Sans KR";
  font-weight: bold;
  color: #DF0D0D;
}

.title.mt-50 {
  margin-top: 5rem;
}

.title-center {
  color: #DF0D0D;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  background: rgba(223, 13, 13, 0.1);
  margin: 2rem 4rem;
  padding: 5px 0;
}

.code-paste.none {
  display: none;
}

.division {
  display: block;
  margin: 3rem 0;
  border: none;
  width: 100%;
  border-bottom: 1px dashed #222;
}

.division--light {
  border-bottom: 1px solid #fff;
  margin: 1px 0;
}

.code-box .code-box-description dt {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  font-size: 13px;
  color: #e22f26;
  font-weight: 600;
}

.code-box .code-box-description dd {
  padding: 1rem 0;
}

.code-box .code-box-description .desc-list {
  padding: 2rem 2rem;
  background: #f9f9f9;
  font-size: 12px;
}

.code-box .code-box-description .desc-list > li {
  padding-left: 10px;
  position: relative;
  color: #444;
  font-family: "poppins", "Noto Sans KR", arial, "Malgun Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.code-box .code-box-description .desc-list > li::before {
  content: '';
  width: 3px;
  height: 3px;
  background: #444;
  position: absolute;
  left: 0;
  top: 7px;
  opacity: 0.7;
}

.code-box .code-box-description .desc-list > li:not(:first-child) {
  margin-top: 5px;
}

.code-box .code-copy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.code-box .code-copy-flex > .flex-box {
  width: 48%;
  border: 1px solid #ddd;
  padding: 2rem;
  margin: 1rem 0;
  position: relative;
}

.code-box .code-copy-flex > .flex-box.flex-box-ht-1 {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.code-box .code-copy-flex > .flex-box::after {
  content: attr(data-label);
  position: absolute;
  left: 10px;
  top: -8px;
  font-size: 12px;
  font-weight: 500;
  background: #a3a3a3;
  color: #fff;
  border-radius: 2px;
  padding: 0 4px;
}

.code-box .code-copy-flex > .flex-box-full {
  width: 100%;
  border: 1px solid #ddd;
  padding: 2rem;
  margin: 1rem 0;
  position: relative;
}

.code-box .code-copy-flex > .flex-box-full::after {
  content: attr(data-label);
  position: absolute;
  left: 10px;
  top: -8px;
  font-size: 12px;
  font-weight: 500;
  background: #a3a3a3;
  color: #fff;
  border-radius: 2px;
  padding: 0 4px;
}

.code-box .code-copy-flex > .flex-box-full.bg {
  background: #333;
}

.code-box .code-copy-flex > .flex-box-full.bg .popup_wrap {
  margin: 0 !important;
}

.code-box .code-copy-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.code-box .code-copy-icon .flex-box {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.code-box .code-copy-icon .flex-box.bg {
  background: #333;
}

.code-box .code-copy-icon .flex-box.flex-box-logo {
  width: 248px;
}

.code-box .code-copy-icon .flex-box.flex-box-logo img {
  max-width: 100%;
}

.code-box .code-copy-icon .flex-box:hover .toast-pop {
  display: block;
}

.code-box .code-copy-icon .flex-box .toast-pop {
  position: absolute;
  width: 120px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  top: -10px;
  left: -35px;
  border-radius: 2px;
  padding: 4px 10px;
  z-index: 1;
  text-align: center;
  display: none;
}

.code-box .code-copy-icon .flex-box img {
  max-width: 60px;
}

.code-box .code-paste {
  font-size: 12px !important;
  padding: 2rem;
  background: #222;
  border-radius: 4px;
}

.code-box .btn-code-view {
  display: block;
  color: #fff;
  background: #e22f26;
  padding: 4px 10px;
  border-radius: 2px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 55px;
  text-align: center;
}

.color-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color-box-container .color-box {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
}

.color-box-container .color-box .label {
  display: block;
  color: #fff;
  text-align: center;
  width: 100%;
}

.color-box-container .color-box .label span {
  display: block;
  margin-top: 4px;
}

.color-box-container .color-box--welcomered {
  background: #e22f26;
}

.color-box-container .color-box--red {
  background: #ea002c;
}

.color-box-container .color-box--orange {
  background: #ff7a00;
}

.color-box-container .color-box--txt {
  background: #444;
}

.color-box-container .color-box--emp {
  background: #000;
}

.color-box-container .color-box--subtxt {
  background: #767676;
}

.color-box-container .color-box--subtxt2 {
  background: #949494;
}

.layout-line-outer {
  border: 1px solid #999;
  padding: 2rem;
  position: relative;
}

.layout-line-outer > label {
  background: #ddd;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: 5%;
  top: -8px;
  color: #333;
  padding: 1px 5px;
}

a:focus, a:focus-visible,
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible,
button:focus,
button:focus-visible,
[tabindex]:focus,
[tabindex]:focus-visible {
  outline: 4px solid red !important;
}

.figure {
  max-width: 880px;
  padding: 5rem 0;
  border-top: 4px solid #888;
  min-height: 500px;
}

.ag-txt-gray {
  font-size: 13px;
  opacity: 0.8;
}

.popup_wrap.on {
  display: block !important;
}

.tb-UI-guide {
  border-top: 1px solid #666;
}

.tb-UI-guide table {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: "poppins", "Noto Sans KR", arial, "Malgun Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  border-collapse: collapse;
}

.tb-UI-guide th,
.tb-UI-guide td {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  line-height: 1.6;
}

.tb-UI-guide th.align-left,
.tb-UI-guide td.align-left {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.tb-UI-guide th.align-center,
.tb-UI-guide td.align-center {
  text-align: center;
}

.tb-UI-guide th {
  background-color: #e5e5e5;
  background: #484848;
  color: #fff;
  font-weight: 500;
}

.tb-UI-guide tbody th {
  background: #eee;
  color: #222;
  font-weight: 500;
}

.tb-UI-guide tbody td {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.tb-UI-guide .list-dot > li {
  font-size: 12px;
}

@media screen and (max-width: 640px) {
  .code-box .code-copy-flex > .flex-box {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */